body{
margin:2px;
padding:2px;
font-size: large;
}
img {
  border: 2px solid black;
  border-radius: 4px;
  width: 170px;
  float: right;
}
h1{
	font-size: 5vw;
	text-align: center;
	text-decoration: underline;
}
h2{
	font-size: 3vw;
	text-decoration: underline;
}
#header{
background:#ddd;
color: white;
background-image: url("https://image.freepik.com/free-photo/back-school-education-banner-background_8087-1192.jpg");
filter: blur(0.5px);
float:left;
width:100%;
box-sizing:border-box;
}

.active{
    color:rgb(0, 0, 0);
    background-color:#fff;
}
nav a{
    font-style: italic;
    font-family: georgia;
    font-size: 3vw;
    border-radius:5px;
    width: 20%;
    color:white;
    text-align: center;
    text-decoration:none;
    margin:10px 10px 10px 10px;
    background-color: rgba(179, 23, 66, 0.42);
    display:inline-block;
    padding:15px;
}
#menu{
width:100%;

background:#fc1230;
display: flex;
  flex-wrap: row-wrap;
  justify-content: space-around;

}

#content{

float:left;
width:100%;

color:rgb(0, 0, 2);
background-color:#89b565;
padding:10px;
box-sizing:border-box;
}
#footer
{
text-align: center;
float:left;
width:100%;
height:15%;
background:lightgrey;
}
table{
    margin-left:2px;
    margin-right:2px;
    width: 25%;
}
th{
    background-color: rgb(102, 153, 0);
    color: white;
    border-width: 5px;
    padding: 15px;
    text-align: center;
}
td{
    background-color: rgb(153, 204, 255);
    padding: 5px;
    text-align: center;
}
th:first-of-type{
    text-align: left;
}
td:first-of-type{
    text-align: left;
}
tr:hover{
    opacity: 1;
    text-shadow: 0.5px 0.5px grey;
}


@media screen and (min-width: 800px) 
{
body{
margin:2px;
padding:2px;
font-size:1.4vw;
}
#header{
background:#ddd;
color: white;
background-image: url("https://image.freepik.com/free-photo/back-school-education-banner-background_8087-1192.jpg");
filter: blur(0.5px);
float:left;
width:100%;
padding:2px;
box-sizing:border-box;
}
nav a{
    border-radius:5px;
    width: 65%;
    color:rgb(31, 23, 23);
    text-align: center;
    text-decoration:none;
    margin:0px 0px 40px 30px;
    background-color: rgba(255,255,255,.3);
    display:inline-block;
    padding:15px;
    font-style: italic;
    font-family: cursive;
    font-size:130%;
}
.active{
    color:rgb(0, 0, 0);
    background-color:#fff;}
#menu{
float:left;
width:18%;
height:550px;
background:#09A7A1;
background-image: url("https://eige.europa.eu/sites/default/files/styles/eige_original_optimised/public/images/education.jpg?itok=aK-f4RNS");
padding:10px;
box-sizing:border-box;
display: block;

}
img {
  border: 2px solid black;
  border-radius: 4px;
  background: rgba(235,255,455,.3);
  padding: 5px;
  width: 170px;
  float: right;
}
h1{
	font-size: xx-large;
	text-align: center;
	text-decoration: underline;
}
h2{
	font-size: x-large;
	text-decoration: underline;
}

#content{

float:left;
width:82%;
height:550px;
color:rgb(0, 0, 2);
background-color: #f3b3d3;
padding:10px;
box-sizing:border-box;
}
#footer
{
text-align: center;
float:left;
width:100%;
height:60px;
background:#FF7F00;
}
table{
    margin-left:100px;
    width: 80%;
}
th{
    background-color: rgb(102, 153, 0);
    color: white;
    border-width: 5px;
    padding: 15px;
    text-align: center;
}
td{
    background-color: rgb(153, 204, 255);
    padding: 15px;
    text-align: center;
}
th:first-of-type{
    text-align: left;
}
td:first-of-type{
    text-align: left;
}
tr:hover{
    opacity: 1;
    text-shadow: 0.5px 0.5px grey;
}

}
